body
{
    margin: 0px;
    padding: 0px;
    font-family:'source code pro', Calibri, serif;
}
nav
{
    width: 100%;
    height: 100px;
    background-color: #3A7DFF;

}
nav >ul
{
    margin: 0px;
    padding: 0px;
}
nav ul:after
{
content: "";
display: block;
clear: both;
}
nav > ul > li
{
    float: left;
    position: relative;
}
nav li
{
    list-style-type: none;
}
.submenu
{
    display: none;
}
nav a
{
    display: inline-block;
    text-decoration: none;
}
nav > ul >li >a
{
    padding: 20px 30px;
    color: #FFF;
}
nav  li:hover .submenu
{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li a
{
    padding: 15px 30px;
    font-size: 20px;
    color: #041214;
    width: 270px;
}
.submenu li
{
    border-bottom: 1px solid #CCC;  
}
.raa{
    top: 10px;
}
.container-fluid {

  
   
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
   
    }
    .menu-accueil{
        font-size: 50px;
        margin:10px;
        color: white;

    }
    .container-fluid li button{
        display: inline;
        position: relative;
        margin-left: 5px;
        float: left;
        left: 270px;
        font-size:20px;

    }
    .dos{
        position: relative;
        top: 70px;
        margin-left: 10px;
    }
    a > img {
        margin-left: 20px;
    }
    .container-fluid button{
        background-color: #3A7DFF;
    }